.admin-layout {
    height: 100vh;
}

.admin-layout .admin-layout-sider {
    overflow: auto;
    height: 100vh;
}

.admin-layout .admin-layout-logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.admin-layout .admin-content-layout {
}

.admin-layout .admin-content-layout .admin-content-layout-header {
    background-color: #ffffff;
    padding: 0 16px;
}

.admin-layout .admin-content-layout .admin-content-layout-header .trigger {
    font-size: 24px;
    line-height: 64px;
    padding: 0;
    cursor: pointer;
}

.admin-layout .admin-content-layout .admin-content-layout-header .trigger:hover {
    color: #1890ff;
}

.admin-layout .admin-content-layout .admin-content-layout-header .admin-content-layout-header-nav {
    display: flex;
    float: right;
}

.admin-layout .admin-content-layout .admin-content-layout-main {
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
}
